<div class="content">
  <header>
    <h1 class="title">Data Bindings</h1>
    <h2 class="subtitle">One Way - From View</h2>
    <div class="is-divider"></div>
  </header>
  <section>
    <h3 class="subtitle">{{ 'que.es' | translate }}</h3>
    <p>{{ 'angular.binding.onewaybind.explicacio' | translate }}</p>
    <p>{{ 'representacio.title' | translate }}</p>
    <ul>
      <li ngNonBindable><code>(target)="expression"</code></li>
      <li ngNonBindable><code>on-target="expression"</code></li>
    </ul>
    <p [innerHtml]="'angular.binding.onewaybind.on' | translate"></p>

    <h3 class="subtitle">{{ 'exemple' | translate }} 1</h3>

    <div class="columns">
      <div class="column">
        <h4 class="subtitle">{{ 'component' | translate }}</h4>
        <pre><code [highlight]="component"></code></pre>
      </div>
      <div class="column">
        <h4 class="subtitle">{{ 'vista' | translate }}</h4>
        <pre><code [highlight]="vista1"></code></pre>
        <div class="is-divider" [attr.data-content]="'or' | translate"></div>
        <pre><code [highlight]="vista2"></code></pre>
      </div>
    </div>

    <h4 class="subtitle">{{ 'resultat' | translate }}</h4>
    <div class="columns">
      <div class="column">
        <button (click)="saludar()">{{ 'saludar' | translate | titlecase }}</button>
      </div>
      <div class="is-divider-vertical" [attr.data-content]="'or' | translate"></div>
      <div class="column">
        <button on-click="saludar()">{{ 'saludar' | translate | titlecase }}</button>
      </div>
    </div>

    <h3 class="subtitle">{{ 'exemple' | translate }} 2 ({{ 'mateix.component' | translate }})</h3>

    <h4 class="subtitle">{{ 'vista' | translate }}</h4>
    <div class="columns">
      <div class="column">
        <pre><code [highlight]="vista3"></code></pre>
      </div>
      <div class="is-divider-vertical" [attr.data-content]="'or' | translate"></div>
      <div class="column">
        <pre><code [highlight]="vista4"></code></pre>
      </div>
    </div>

    <h4 class="subtitle">{{ 'resultat' | translate }} ({{ 'resultat.escriviu' | translate }})</h4>
    <div class="columns">
      <div class="column">
        <input (keypress)="saludar()" />
      </div>
      <div class="is-divider-vertical" [attr.data-content]="'or' | translate"></div>
      <div class="column">
        <input on-keypress="saludar()" />
      </div>
    </div>
  </section>
</div>
