<div class="content">
  <header>
    <h1 class="title">HTTP Client</h1>
    <div class="is-divider"></div>
  </header>
  <section>
    <h3 class="subtitle">{{ 'que.es' | translate }}</h3>
    <p [innerHtml]="'angular.http.explicacio1' | translate"></p>

    <p [innerHtml]="'angular.http.explicacio2' | translate"></p>
    <pre><code [highlight]="init1"></code></pre>
    <p [innerHtml]="'angular.http.explicacio3' | translate"></p>
    <pre><code [highlight]="init2"></code></pre>
    <p [innerHtml]="'angular.http.explicacio4' | translate"></p>
    <pre><code [highlight]="init3"></code></pre>
    <p [innerHtml]="'angular.http.explicacio5' | translate"></p>
    <pre><code [highlight]="init4"></code></pre>
    <p [innerHtml]="'angular.http.explicacio6' | translate"></p>

    <p [innerHtml]="'angular.http.explicacio7' | translate"></p>
    <ul>
      <li><code>get</code>: {{ 'angular.http.get' | translate }}</li>
      <li><code>post</code>: {{ 'angular.http.post' | translate }}</li>
      <li><code>put</code>: {{ 'angular.http.put' | translate }}</li>
      <li><code>patch</code>: {{ 'angular.http.patch' | translate }}</li>
      <li><code>delete</code>: {{ 'angular.http.delete' | translate }}</li>
    </ul>

    <p [innerHtml]="'angular.http.explicacio8' | translate"></p>

    <p [innerHtml]="'angular.http.exemple1' | translate"></p>
    <div class="columns is-desktop">
      <div class="column is-6-desktop">
        <h4 class="subtitle">{{ 'exemple' | translate }}</h4>
        <pre><code [highlight]="exemple1"></code></pre>
      </div>
      <div class="column is-6-desktop">
        <h4 class="subtitle">{{ 'resultat' | translate }}</h4>
        <pre><code [highlight]="resultat1"></code></pre>
      </div>
    </div>

    <p [innerHtml]="'angular.http.explicacio9' | translate"></p>
    <p [innerHtml]="'angular.http.explicacio10' | translate"></p>
    <ul>
      <li><b>arrayBuffer</b>: {{ 'angular.http.arrayBuffer' | translate }}</li>
      <li><b>blob</b>: {{ 'angular.http.blob' | translate }}</li>
      <li><b>json</b>: {{ 'angular.http.json' | translate }}</li>
      <li><b>text</b>: {{ 'angular.http.text' | translate }}</li>
    </ul>
    <p [innerHtml]="'angular.http.exemple2' | translate"></p>
    <div class="columns is-desktop">
      <div class="column is-6-desktop">
        <h4 class="subtitle">{{ 'exemple' | translate }}</h4>
        <pre><code [highlight]="exemple2"></code></pre>
      </div>
      <div class="column is-6-desktop">
        <h4 class="subtitle">{{ 'resultat' | translate }}</h4>
        <pre><code [highlight]="resultat2"></code></pre>
      </div>
    </div>

    <p [innerHtml]="'angular.http.explicacio11' | translate"></p>
    <p [innerHtml]="'angular.http.exemple3' | translate"></p>
    <div class="columns is-desktop">
      <div class="column is-6-desktop">
        <h4 class="subtitle">{{ 'exemple' | translate }}</h4>
        <pre><code [highlight]="exemple4"></code></pre>
      </div>
      <div class="column is-6-desktop">
        <h4 class="subtitle">{{ 'resultat' | translate }}</h4>
        <pre><code [highlight]="resultat1"></code></pre>
      </div>
    </div>

    <p [innerHtml]="'angular.http.explicacio12' | translate"></p>
    <p [innerHtml]="'angular.http.exemple4' | translate"></p>
    <div class="columns is-desktop">
      <div class="column is-6-desktop">
        <h4 class="subtitle">{{ 'exemple' | translate }}</h4>
        <pre><code [highlight]="exemple3"></code></pre>
      </div>
      <div class="column is-6-desktop">
        <h4 class="subtitle">{{ 'resultat' | translate }}</h4>
        <pre><code [highlight]="resultat3"></code></pre>
      </div>
    </div>
  </section>
</div>
