<div class="content">
  <header>
    <h1 class="title">Data Bindings</h1>
    <h2 class="subtitle">Two Way</h2>
    <div class="is-divider"></div>
  </header>
  <section>
    <h3 class="subtitle">{{ 'que.es' | translate }}</h3>
    <p>{{ 'angular.binding.twoway.explicacio' | translate }}</p>
    <p>{{ 'representacio.title' | translate }}</p>
    <ul>
      <li ngNonBindable><code>[(target)]="expression"</code></li>
      <li ngNonBindable><code>bindon-target="expression"</code></li>
    </ul>
    <p [innerHtml]="'angular.binding.twoway.on' | translate"></p>

    <h3 class="subtitle">{{ 'exemple' | translate }}</h3>

    <div class="columns">
      <div class="column">
        <h4 class="subtitle">{{ 'component' | translate }}</h4>
        <pre><code [highlight]="component"></code></pre>
      </div>
      <div class="column">
        <h4 class="subtitle">{{ 'vista' | translate }}</h4>
        <pre><code [highlight]="vista1"></code></pre>
        <div class="is-divider" [attr.data-content]="'or' | translate"></div>
        <pre><code [highlight]="vista2"></code></pre>
      </div>
    </div>

    <h4 class="subtitle">{{ 'resultat' | translate }} ({{ 'resultat.escriviu' | translate }})</h4>
    <div class="columns">
      <div class="column">
        <input [(ngModel)]="variable" />
        <p>{{variable}}</p>
      </div>
      <div class="is-divider-vertical" [attr.data-content]="'or' | translate"></div>
      <div class="column">
        <input bindon-ngModel="variable" />
        <p>{{variable}}</p>
      </div>
    </div>

  </section>
</div>
