<div class="content">
  <header>
    <h1 class="title">HTTP Client</h1>
    <h2 class="subtitle">Interceptors</h2>
    <div class="is-divider"></div>
  </header>
  <section>
    <h3 class="subtitle">{{ 'que.es' | translate }}</h3>
    <p [innerHtml]="'angular.http.interceptors.explicacio1' | translate"></p>
    <p [innerHtml]="'angular.http.interceptors.explicacio2' | translate"></p>
    <p [innerHtml]="'angular.http.interceptors.explicacio3' | translate"></p>

    <h3 class="subtitle">{{ 'exemple' | translate }}</h3>

    <p [innerHtml]="'angular.http.interceptors.explicacio4' | translate"></p>

    <div class="columns is-desktop">
      <div class="column is-6-desktop">
        <h4 class="subtitle">Interceptor</h4>
        <pre><code [highlight]="interceptor"></code></pre>
      </div>
      <div class="column is-6-desktop">
        <h4 class="subtitle">app.module.ts</h4>
        <pre><code [highlight]="appmodule"></code></pre>
      </div>
    </div>

    <div class="columns is-desktop">
      <div class="column is-6-desktop">
        <h4 class="subtitle">HTTP Client</h4>
        <pre><code [highlight]="exemple"></code></pre>
      </div>
      <div class="column is-6-desktop">
        <h4 class="subtitle">{{ 'resultat' | translate }}</h4>
        <pre><code [highlight]="resultat"></code></pre>
      </div>
    </div>
  </section>
</div>
