<div class="content">
  <header>
    <h1 class="title">Routing</h1>
    <h2 class="subtitle">{{ 'angular.routing.can.activate.title' | translate }}</h2>
    <div class="is-divider"></div>
  </header>
  <section>
    <h3 class="subtitle">{{ 'que.es' | translate }}</h3>
    <p [innerHtml]="'angular.routing.can.activate.explicacio' | translate"></p>
    <h3 class="subtitle">{{ 'exemple' | translate }}</h3>
    <p [innerHtml]="'angular.routing.can.activate.exemple' | translate"></p>
    <pre><code [highlight]="authguardservice"></code></pre>
  </section>
</div>
