<div class="content">
  <header>
    <h1 class="title">Routing</h1>
    <h2 class="subtitle">{{ 'angular.routing.get.params.title' | translate }}</h2>
    <div class="is-divider"></div>
  </header>
  <section>
    <h3 class="subtitle">{{ 'que.es' | translate }}</h3>
    <p [innerHtml]="'angular.routing.get.params.explicacio' | translate"></p>

    <h3 class="subtitle">{{ 'exemple' | translate }} 1</h3>
    <p [innerHtml]="'angular.routing.get.params.exemple1' | translate"></p>
    <pre><code [highlight]="recuperarParams1"></code></pre>

    <h3 class="subtitle">{{ 'exemple' | translate }} 2</h3>
    <p [innerHtml]="'angular.routing.get.params.exemple2' | translate"></p>
    <pre><code [highlight]="recuperarParams2"></code></pre>
  </section>
</div>
