<div class="content">
  <header>
    <h1 class="title">Directives</h1>
    <h2 class="subtitle">ngModel</h2>
    <div class="is-divider"></div>
  </header>
  <section>
    <h3 class="subtitle">{{ 'que.es' | translate }}</h3>
    <p [innerHtml]="'angular.directives.ngmodel.explicacio1' | translate"></p>
    <p [innerHtml]="'angular.directives.ngmodel.explicacio2' | translate"></p>
    <p>{{ 'angular.directives.ngmodel.redirect' | translate }} <a routerLink="/angular/binding/twoway">Data Bindings: Two Way</a>.</p>
  </section>
</div>
